.header {
    display: flex;
}

.header h2 {
    color: red;
}

.header .butonthem {
    margin-left: 64%;
    background-color: #607D8B;
    color: rgb(255, 255, 255);
    width: 15%;
    height: 25px;
    text-align: center;
    text-decoration: none
}

.form-group .form-control {
    border: 1px;
    border-style: solid;
    border-color: rgb(80, 80, 80);
    width: 50%;
    height: 30px;
}

.btn_them {
    background-color: #607D8B;
    color: rgb(255, 255, 255);
    width: 15%;
    height: 25px;
    text-align: center;
}